/* Колір основного тектсу #212121*/
/*Вторичний колір #757575*/
/* Білий #FFFFFF */
/* Акцент #2196F3 */
/* Вторичний колір фона #F5F4FA */
/* Колір логотипу #000000 */
body {
    color: #212121;
background-color: #FFFFFF;
}
/* Утіліти */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* Стиль логотипу */
.logo {
        color: #000000;
    }
.logo > span {
        color: #2196F3;
    }
/* Стилізація навігації сайту */
.site-nav .link {
 color: #2196F3;
}